.navigation {
  width: 100%;

  background-color: white;
  .hamburgerNavigation {
    display: none;
    ul {
      margin: auto;
      width: 90%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      li{
        font-size: 1rem;
        
      }
      .avtorization{
        background-color: var(--color1);
        color: white;
        padding: 0.7rem 1rem;
        border-radius: 100rem;
        font-weight: bolder;
      }
    }
  }
  .desktopNavigation {
    ul {
      margin: auto;
      width: 95%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      li {
        list-style: none;
        cursor: pointer;
      }
      .hamburgerMenu {
        visibility: hidden;
      }

      .fixPosition {
        display: flex;
        gap: 0.5rem;
        align-items: center;
        font-weight: bold;
      }
      .empty {
        background-color: var(--color1);
        width: 80px;
        height: 85px;
      }
      .avtorization {
        background-color: var(--color1);
        color: white;
        padding: 0.7rem 1rem;
        border-radius: 100rem;
        font-weight: bolder;
      }
    }
  }
  .background_image_container {
    width: 100%;
    height: 230px;
    .background_image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}

@media screen and(max-width:1075px) {
  .navigation {
    ul {
      li {
        font-size: 0.8rem;
      }
    }
  }
}
@media screen and(max-width:950px) {
  .navigation {
    ul {
      height: 70px;
      .empty {
        display: none;
      }
      #languages {
        display: none;
      }
    }
  }
}
@media screen and(max-width:800px) {
  .navigation {
    .hamburgerNavigation {
      display: block;
    }
    .desktopNavigation {
      display: none;
    }
    .background_image_container{
      height: 160px;
    }
  }
}
